<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/puwat"
        android:supportsRtl="true"
        android:theme="@style/Theme.UASTUGAS.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.UASTUGAS.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.UASTUGAS.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- MainActivity (Titik Masuk Aplikasi) -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.UASTUGAS.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity lainnya -->

        <activity
            android:name=".TimePickerActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:name=".AboutFragment"
            android:exported="false" />
        <activity
            android:name=".SettingsFragment"
            android:exported="false" /> <!-- Receiver -->

        <receiver
            android:name=".AlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".MyReceiver"
            android:exported="false" />

    </application>

</manifest>
